.App {
  background-color: red;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App.unlocked {
  background-color: green;
}
.App-header {
  color: white
}

.lock-icon {
  color: white;
  font-size: 10rem;
}
